<!DOCTYPE html>
<html>
<head>
    <title>Read</title>
</head>
<body>
    <h1>Read</h1>
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        {% for key, value in data_dict.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'create' %}">Add Data</a>
    <a href="{% url 'update' %}">Update Data</a>
    <a href="{% url 'delete' %}">Delete Data</a>
</body>
</html>
